<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="welcome-text">
                        <p>Viễn Dương Shop xin chào!!!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="header-contact">
                        <p> Đặt hàng <span>84-921 261 108</span></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-12">
                    <div class="header-login-reg f-right">
                        <a class="header-log" href="login-register.html">Đăng nhập</a>
                        <a class="header-reg" href="login-register.html">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle ptb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="logo">
                        <a href="index.html">
                            <img alt="" src="/assets/client/img/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="header-middle-wrap">
                        <div class="header-search">
                            <form action="#">
                                <input type="text" placeholder="Tìm sản phẩm">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="header-curr-lang-wrap">
                            @*<div class="header-language header-same-style">
                                <ul>
                                    <li>
                                        <a href="#"> English <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li> <a href="#"> France</a></li>
                                            <li><a href="#"> Brazil</a></li>
                                            <li><a href="#"> English</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-account header-same-style">
                                <ul>
                                    <li>
                                        <a href="#">$ USD <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="#">$ GBP</a></li>
                                            <li><a href="#">€ EUR</a></li>
                                            <li><a href="#">$ USD</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="header-cart-wrap">
                            <div class="header-cart-icon">
                                <a class="icon-cart" href="#">
                                    <img alt="" src="/assets/client/img/icon-img/cart.png">
                                    <div class="cart-text">
                                        <span class="digit">Cart: (02)</span>
                                        <span>£150.00</span>
                                    </div>
                                </a>
                                <div class="shopping-cart-content">
                                    <ul>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="/assets/client/img/cart/cart-1.jpg"></a>
                                                <span class="cart-qut">1</span>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Etiam eu neque </a></h4>
                                                <span>£80.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="pe-7s-close"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="/assets/client/img/cart/cart-2.jpg"></a>
                                                <span class="cart-qut">2</span>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Feugiat justo lacinia </a></h4>
                                                <span>£70.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="pe-7s-close"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-total">
                                        <h4>Subtotal : <span class="shop-total">£220.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-btn">
                                        <a href="checkout.html">checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="main-menu black-bg menu-none">
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Trang chủ</a>
                            <ul class="submenu">
                                <li><a href="index.html">home version 1</a></li>
                                <li><a href="index-2.html">home version 2</a></li>
                                <li><a href="index-3.html">home version 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop.html">Sản phẩm</a>
                            <ul class="mega-menu">
                                <li class="single-mega-menu">
                                    <ul>
                                        <li class="mega-menu-title">furniture list</li>
                                        <li><a href="shop.html">Bed</a></li>
                                        <li><a href="shop.html">Sofa</a></li>
                                        <li><a href="shop.html">Couch</a></li>
                                        <li><a href="shop.html">Chair</a></li>
                                        <li><a href="shop.html">Bookcase</a></li>
                                    </ul>
                                </li>
                                <li class="single-mega-menu">
                                    <ul class="single-mega-menu">
                                        <li class="mega-menu-title">furniture list </li>
                                        <li><a href="shop.html">Table</a></li>
                                        <li><a href="shop.html">Closet</a></li>
                                        <li><a href="shop.html">Cabinet</a></li>
                                        <li><a href="shop.html">Chest</a></li>
                                        <li><a href="shop.html">Recliner</a></li>
                                    </ul>
                                </li>
                                <li class="single-mega-menu">
                                    <ul class="single-mega-menu">
                                        <li class="mega-menu-title">furniture list</li>
                                        <li><a href="shop.html">Wardrobe</a></li>
                                        <li><a href="shop.html">Bean Bag</a></li>
                                        <li><a href="shop.html">Bench</a></li>
                                        <li><a href="shop.html">Dining Table</a></li>
                                        <li><a href="shop.html">Coffee Table</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="shop.html">Danh mục sản phẩm</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="about-us.html">about us</a></li>
                                <li><a href="shop.html">shop Grid</a></li>
                                <li><a href="shop-list.html">shop list</a></li>
                                <li><a href="product-details.html">product details</a></li>
                                <li><a href="cart.html">cart page</a></li>
                                <li><a href="checkout.html">checkout</a></li>
                                <li><a href="wishlist.html">wishlist</a></li>
                                <li><a href="my-account.html">my account</a></li>
                                <li><a href="login-register.html">login / register</a></li>
                                <li><a href="contact.html">contact us</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog-leftsidebar.html">Blog </a>
                            <ul class="submenu">
                                <li><a href="blog.html">blog page</a></li>
                                <li><a href="blog-leftsidebar.html">blog sidebar</a></li>
                                <li><a href="blog-details.html">blog details</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About Us </a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-12 d-md-block d-sm-block d-lg-none">
                    <div class="mobile-menu-area">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <li>
                                        <a href="index.html">HOME</a>
                                        <ul>
                                            <li><a href="index.html">home version 1</a></li>
                                            <li><a href="index-2.html">home version 2</a></li>
                                            <li><a href="index-3.html">home version 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">pages</a>
                                        <ul>
                                            <li><a href="about-us.html">about us</a></li>
                                            <li><a href="shop.html">shop Grid</a></li>
                                            <li><a href="shop-list.html">shop list</a></li>
                                            <li><a href="product-details.html">product details</a></li>
                                            <li><a href="cart.html">cart page</a></li>
                                            <li><a href="checkout.html">checkout</a></li>
                                            <li><a href="wishlist.html">wishlist</a></li>
                                            <li><a href="my-account.html">my account</a></li>
                                            <li><a href="login-register.html">login / register</a></li>
                                            <li><a href="contact.html">contact us</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Shop</a>
                                        <ul>
                                            <li>
                                                <a href="#">furniture list 01</a>
                                                <ul>
                                                    <li><a href="shop.html">Bed</a></li>
                                                    <li><a href="shop.html">Sofa</a></li>
                                                    <li><a href="shop.html">Couch</a></li>
                                                    <li><a href="shop.html">Chair</a></li>
                                                    <li><a href="shop.html">Bookcase</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">furniture list 02</a>
                                                <ul>
                                                    <li><a href="shop.html">Table</a></li>
                                                    <li><a href="shop.html">Closet</a></li>
                                                    <li><a href="shop.html">Cabinet</a></li>
                                                    <li><a href="shop.html">Chest</a></li>
                                                    <li><a href="shop.html">Recliner</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">furniture list 03</a>
                                                <ul>
                                                    <li><a href="shop.html">Wardrobe</a></li>
                                                    <li><a href="shop.html">Bean Bag</a></li>
                                                    <li><a href="shop.html">Bench</a></li>
                                                    <li><a href="shop.html">Dining Table</a></li>
                                                    <li><a href="shop.html">Coffee Table</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">BLOG</a>
                                        <ul>
                                            <li><a href="blog.html">blog page</a></li>
                                            <li><a href="blog-leftsidebar.html">blog sidebar</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html"> Contact us </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>